{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}


{% block content %}
{% include 'header.html' %}
<br>

    <h1>{% trans "Change Password" %}</h1>
<div class="container">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
    </div>
{% endblock %}
